.dbeditor .item-box {
  background-color: #63707d;
  border: 1px solid #27313a;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}
.dbeditor .item-box.disabled {
  background-color: #E7E7E7;
  border-color: #B8B8B8;
  cursor: not-allowed;
}
.dbeditor .item-label {
  font-size: 20px;
  text-align: left;
  position: relative;
}
.dbeditor .menu-icon {
  cursor: pointer;
}
.dbeditor .item-icon {
  position: absolute;
  left: 10px;
}
.dbeditor .display-name {
  margin-left: 40px;
}
.dbeditor .buttons{
  position: fixed;
  bottom: 0px;
  background-color: #f5f5f5;
  padding: 5px 15px;
}
.dbeditor .buttons button{
  width: 100px;
  margin-top: 3px;
}
.dbeditor .field-name {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  text-align: right;
}
.dbeditor .field-editor{
  display: inline-block;
  vertical-align: middle;
}
.dbeditor .editor-container{
  padding-bottom: 40px;
}
