.dbeditor .item-box {
  background-color: #63707d;
  border: 1px solid #27313a;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}
.dbeditor .item-box.disabled {
  background-color: #E7E7E7;
  border-color: #B8B8B8;
  cursor: not-allowed;
}
.dbeditor .item-label {
  font-size: 20px;
  text-align: center;
  position: relative;
}
.dbeditor .menu-icon {
  cursor: pointer;
}
.dbeditor .item-icon {
  position: absolute;
  left: 10px;
}
.dbeditor .display-name {
  margin-left: 25px;
}
