<div class="container-fluid"
  ng-cloak>
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li ng-repeat="menuItem in breadcrump"
          ng-class="{active: $last}">
          <a ng-if="!$last && !$first"
            href="#"
            ng-click="handleBreadCrumpSelect($index)">{{menuItem.displayName}}</a>
          <span ng-if="$last && !$first">{{menuItem.displayName}}</span>
          <span ng-if="$first"
            ng-click="handleBreadCrumpSelect($index)"
            class="menu-icon"><i class="fa fa-th"></i></span>
        </li>
      </ol>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <select ui-select2
          class="form-control"
          ng-model="selectedTableIndex"
          ng-change="handleItemSelect(flattenedMenuItems[selectedTableIndex])"
          data-placeholder="Pick a Table"
          style="width:100%;">
          <option value=""></option>
          <option ng-repeat="item in flattenedMenuItems"
            value="{{$index}}">{{item.displayName}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row"
    ng-show="showMenuItems">
    <div class="col-xs-12 col-sm-6 col-md-3"
      ng-repeat="menuItem in selectedItem.menuItems">
      <div class="item-box"
        ng-click="handleItemSelect(menuItem)"
        ng-class="{disabled: !menuItem.enabled}">
        <div class="item-label">
          <span class="item-icon">
            <i ng-if="menuItem.isTable"
              class="fa fa-pencil-square-o"></i>
            <i ng-if="!menuItem.isTable"
              class="fa fa-folder-o"></i>
          </span>
          <span class="display-name">{{menuItem.displayName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
