<div class="container-fluid editor-container"
  ng-cloak>
  <div class="row">
    <ol class="breadcrumb">
      <li ng-repeat="breadcrumpNode in breadcrumpNodes"
        ng-class="{active: $last}">
        <a href="#"
          ng-click="handleBreadcrumb(breadcrumpNode)"
          ng-if="!$last">{{breadcrumpNode.type.type}} {{breadcrumpNode.instance.id}}</a>
        <span ng-if="$last">{{breadcrumpNode.type.type}} {{breadcrumpNode.instance.id}}</span>
      </li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal">
        <div class="form-group"
          ng-repeat="field in selectedInstance.fields">
          <div class="field-name">{{field.name}}</div>

          <div ng-switch="findEditor(field)"
            class="field-editor">
            <input type="text"
              class="form-control"
              ng-model="field.value"
              ng-switch-when="text">

            <datetimepicker ng-switch-when="datetime"
              placeholder="yyyy-MM-dd"
              min-date="minDate"
              show-weeks="showWeeks"
              hour-step="1"
              minute-step="15"
              ng-model="field.value"
              show-meridian="true"
              date-format="yyyy-MM-dd"
              date-options="dateOptions"
              date-disabled="disabled(date, mode)"
              show-spinners="true"
              readonly-time="false"></datetimepicker>

            <select ng-model="field.value"
              ng-switch-when="enum"
              class="form-control">
              <option ng-repeat="allowedValue in field.allowedValues"
                value="{{allowedValue}}">{{allowedValue}}</option>
            </select>

            <div class="checkbox"
              ng-switch-when="checkbox">
              <label>
                <input type="checkbox"
                  ng-model="field.value" />
              </label>
            </div>

            <div ng-switch-default>No editor for type {{field.type}}</div>
          </div>

        </div>

        <div class="subtables"
          ng-if="selectedInstance.subTables && selectedInstance.subTables.length > 0">
          <ul class="list-group">
            <li class="list-group-item"
              ng-repeat="subTable in selectedInstance.subTables">
              <span class="badge">{{subTable.childObjects.length}}</span>
              <button type="button"
                class="btn btn-default"
                ng-click="handleSelectSubtable(subTable)">Edit {{subTable.type}}</button>
            </li>
          </ul>
        </div>

      </form>

    </div>

    <div class="col-md-6">
      <instances selected-type="selectedType"
        selected-instance="selectedInstance"
        model-inited="modelInited"
        on-select-instance="handleSelectInstance(instance)"></instances>
    </div>
  </div>

  <div class="buttons">
    <span ng-if="selectedInstance != undefined">
      <button type="button"
        class="btn btn-success"
        ng-click="handleSave(breadcrumpNodes[0])"
        ng-if="editStatus === 'new' || editStatus === 'changed'">Save</button>
      <button type="button"
        class="btn btn-info"
        ng-click="handleCancel()"
        ng-if="editStatus === 'new' || editStatus === 'changed'">Cancel</button>
      <button type="button"
        class="btn btn-danger"
        ng-click="handleDelete()"
        ng-if="selectedInstance.id != undefined">Delete</button>
    </span>
    <button type="button"
      class="btn btn-primary"
      ng-click="handleNew(selectedType)"
      ng-if="editStatus !== 'changed'">New</button>
  </div>

</div>
