<div class="container-fluid editor-container"
  ng-cloak>
  <div class="row">
    <ol class="breadcrumb">
      <li ng-repeat="breadcrumpNode in breadcrumpNodes"
        ng-class="{active: $last}">
        <a href="#"
          ng-click="handleBreadcrumb(breadcrumpNode)"
          ng-if="!$last"><b>{{breadcrumpNode.type.displayName}}</b> <i>{{breadcrumpNode.instance.displayValue}}</i></a>
        <span ng-if="$last"><b>{{breadcrumpNode.type.displayName}}</b> <i>{{breadcrumpNode.instance.displayValue}}</i></span>
      </li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal">
        <div class="form-group"
          ng-repeat="field in selectedInstance.fields">
          <div class="field-name">
            <b>{{field.displayName}}</b><span class="required" ng-show="field.required">*</span>
            <br>
            <small>{{field.help}}</small>
          </div>

          <div ng-switch="field.editor"
            class="field-editor">
            <input type="text"
              class="form-control"
              ng-model="field.value"
              ng-switch-when="TEXT"
              ng-readonly="field.readonly">

            <textarea class="form-control"
              ng-model="field.value"
              ng-switch-when="TEXTAREA"
              ng-readonly="field.readonly"></textarea>

            <timeofday ng-model="field.value"
              ng-switch-when="TIME_OF_DAY"
              ng-disabled="field.readonly"></timeofday>

            <datetimepicker ng-switch-when="DATETIME"
              placeholder="yyyy-MM-dd"
              hour-step="1"
              minute-step="15"
              ng-model="field.value"
              show-meridian="true"
              date-format="yyyy-MM-dd"
              show-spinners="true"
              readonly-time="field.readonly"
              readonly-date="field.readonly"></datetimepicker>

            <select ng-model="field.value"
              ng-switch-when="SELECT"
              class="form-control"
              ng-disabled="field.readonly">
              <option value=""></option>
              <option ng-repeat="allowedValue in field.allowedValues"
                value="{{allowedValue}}">{{allowedValue}}</option>
            </select>

            <div ng-switch-when="IMAGE_CHOOSER">
              <ui-select ng-model="field.value"
                width="400px;"
                ng-disabled="field.readonly">
                <ui-select-match placeholder="Select an Image"
                  allow-clear="{{!field.readonly}}">
                  <img ng-src="{{field.value.path}}"
                    class="dbimage" />
                  <span>{{field.value.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="allowedValue in (field.allowedValues | filter: $select.search) track by allowedValue.id">
                  <img ng-src="{{allowedValue.path}}"
                    class="dbimage" />
                  <span>{{allowedValue.groupName}} - {{allowedValue.name}}</span>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="checkbox"
              ng-switch-when="CHECKBOX">
              <label>
                <input type="checkbox"
                  ng-model="field.value"
                  ng-disabled="field.readonly" />
              </label>
            </div>

            <div ng-switch-default>Not supported editor {{field.editor}}</div>
          </div>

        </div>

        <div class="subtables"
          ng-if="selectedInstance.subTables && selectedInstance.subTables.length > 0">
          <ul class="list-group">
            <li class="list-group-item"
              ng-repeat="subTable in selectedInstance.subTables">
              <span class="badge">{{subTable.childObjects.length}}</span>
              <button type="button"
                class="btn btn-default"
                ng-click="handleSelectSubtable(subTable)">Edit {{subTable.tableName}}</button>
            </li>
          </ul>
        </div>

      </form>

    </div>

    <div class="col-md-6">
      <instances selected-type="selectedType"
        selected-instance="selectedInstance"
        model-inited="modelInited"
        on-select-instance="handleSelectInstance(instance)"></instances>
    </div>
  </div>

  <div class="buttons">
    <span ng-if="selectedInstance != undefined">
      <button type="button"
        class="btn btn-success"
        ng-click="handleSave(breadcrumpNodes[0])"
        ng-if="editStatus === 'new' || editStatus === 'changed'">Save</button>
      <button type="button"
        class="btn btn-info"
        ng-click="handleCancel()"
        ng-if="editStatus === 'new' || editStatus === 'changed'">Cancel</button>
      <button type="button"
        class="btn btn-danger"
        ng-click="handleDelete(selectedInstance)"
        ng-if="(selectedInstance.id != undefined) && $ctrl.menuItem.canNewDelete">Delete</button>
    </span>
    <button type="button"
      class="btn btn-primary"
      ng-click="handleNew(selectedType)"
      ng-if="(editStatus !== 'changed') && $ctrl.menuItem.canNewDelete">New</button>
  </div>

</div>
