<div class="table-responsive"
  ng-show="$ctrl.modelInited && $ctrl.selectedType.childObjects.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="field in $ctrl.selectedType.childObjects[0].fields">{{field.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="instance in $ctrl.selectedType.childObjects"
        ng-click="handleSelectInstance(instance)"
        ng-class="{info: selectedInstance === instance}">
        <td ng-repeat="field in instance.fields">{{field.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-info"
  ng-show="$ctrl.modelInited && $ctrl.selectedType.childObjects.length === 0"
  role="alert">
  No records found
</div>
